<script src="http://cdn.staticfile.org/socket.io/1.3.7/socket.io.js"></script>
<script src="http://cdn.staticfile.org/jquery/2.2.1/jquery.min.js"></script>

<style>
  * {
    margin: 0;
    padding: 0;
  }
  body {
    font-size: 12px;
  }
  .chatroom-feedback {
    position: absolute;
    bottom: 3px;
    background: #EEE;
    width: 159px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
  .chatroom {
    font-size: 12px;
    position: fixed;
    right: -3px;
    bottom: -3px;
    width: 563px;
    height: 405px;
    z-index: 998;
    overflow: hidden;
    background: #FFF;
    box-shadow: -3px -2px 8px -1px rgba(0,0,0,0.2);
    border-radius: 2px 0px 0px 2px;
    transition: all 0.3s;
  }
  .chatroom-fold {
    right: -404px;
    bottom: -368px;
    transition: all 0.3s;
  }
  .chatroom-fold .chatroom-tribe .count {
    right: 42px;
  }
  .chatroom-info {
    position: absolute;
    background: #FFF;
    right: 10px;
    top: 6px;
    cursor: pointer;
  }
  .chatroom-info:after {
    content: '[收起]';
    color: #F40;
  }
  .chatroom-fold .chatroom-info:after {
    content: '[展开]';
    color: #F40;
    z-index: 10;
    position: relative;
    top: 5px;
  }
  .chatroom-fold .chatroom-info {
    right: 412px;
  }
  .chatroom-tribe {
    -webkit-user-select: none;
    padding: 4px 5px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    margin-bottom: 1px;
    position: relative;
  }
  .chatroom-tribe:hover, .chatroom-tribe.current {
    background: #f2f2f5;
  }
  .chatroom-tribe img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }
  .chatroom-tribe .name {
    max-width: 90px;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    margin-left: 10px;
    line-height: 30px;
    overflow: hidden;
  }
  .chatroom-tribe .count {
    visibility: hidden;
    min-width: 18px;
    height: 13px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 1px 2px;
    background: #fa7d3c;
    color: #fff;
    border-radius: 3px;
    transform: scale(0.8);
    position: absolute;
    right: 22px;
    top: 12px;
  }
  .chatroom-tribe .iconfont {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    font-family: Arial;
    color: #696e78;
    font-style: normal;
    transform: scale(0.5);
    font-weight: bold;
    visibility: hidden;
  }
  .chatroom-tribe .iconfont:hover {
    color: #fa7d3c;
  }
  .chatroom-tribe:hover .iconfont {
    visibility: visible;
  }
  .chatroom-tribes {
    float: left;
    width: 159px;
    border-right: 1px #d9d9d9 solid;
    overflow: hidden;
    height: 402px;
    overflow-y: auto;
  }
  .chatroom-tribe {

  }
  .chatroom-pannels {
    float: left;
    width: 400px;
    height: 350px;
  }
  .chatroom-pannel-bd {
    height: 340px;
    background: #f2f2f5;
    overflow-y: auto;
  }
  .chatroom-item {
    display: none;
    height: 330px;
    overflow-y: auto;
    padding-bottom: 10px;
  }
  .chatroom-item.current {
    display: block;
  }
  .chatroom-pannel-ft {
    border-top: 1px #d9d9d9 solid;
    position: relative;
    height: 60px;
  }
  .chatroom-pannel-ft textarea {
    resize: none;
    border: none;
    position: absolute;
    left: 6px;
    right: 6px;
    top: 6px;
    width: 100%;
    bottom: 6px;
    outline: none;
    line-height: 18px;
    font-size: 12px;
  }
  .chatroom-log {
    padding: 25px 10px 0;
    overflow: hidden;
    line-height: 18px;
  }
  .chatroom-log .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    border-radius: 4px;
    cursor: pointer;
  }
  .chatroom-log .avatar img {
    width: 30px;
    min-height: 30px;
  }
  .chatroom-log .time {
    width: 310px;
    margin-left: 13px;
    margin-bottom: 4px;
    float: left;
    color: #999;
  }
  .chatroom-log .time b:hover {
    cursor: pointer;
    color: #666;
  }
  .chatroom-log .detail {
    max-width: 222px;
    float: left;
    padding: 5px 9px;
    position: relative;
    margin-left: 13px;
    background: #fff;
    border: 1px #ccc solid;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,.05);
    word-break: break-word;
  }
  .chatroom-log .detail:before, .chatroom-log .detail:after {
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    top: 10px;
    position: absolute;
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
  }
  .chatroom-log .detail:before {
    border-width: 4px;
    border-top-color: #ccc;
    color: #ccc;
    left: -8px;
  }
  .chatroom-log .detail:after {
    border-top-color: #fff;
    color: #fff;
    left: -6px;
    border-width: 3px;
    top: 11px;
  }
  .chatroom-log.myself {
  }
  .chatroom-log.myself .avatar {
    float: right;
  }
  .chatroom-log.myself .time {
    float: right;
    margin-left: 0;
    margin-right: 13px;
    text-align: right;
  }
  .chatroom-log.myself .detail {
    float: right;
    margin-left: 0;
    margin-right: 13px;
    background: #d7ebfe;
    border: 1px #b7d4ef solid;
  }
  .myself .detail:before, .myself .detail:after {
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
  }
  .chatroom-log.myself .detail:before {
    border-top-color: #b7d4ef;
    border-left-color: #b7d4ef;
    left: auto;
    right: -8px;
  }
  .chatroom-log.myself .detail:after {
    border-top-color: #d7ebfe;
    border-left-color: #d7ebfe;
    left: auto;
    right: -6px;
  }
  .chatroom-log-info {
    text-align: center;
    padding: 5px;
    color: #999;
  }

</style>

<!--
<div class="chatroom">
  <div class="chatroom-info"></div>
  <ul class="chatroom-tribes">
    <li class="chatroom-tribe current" data-id="group">
      <span class="name">当前 <strong>1</strong> 人在线</span>
      <span class="count">0</span>
    </li>
  </ul>
  <div class="chatroom-pannels">
    <div class="chatroom-pannel-bd">
      <div class="chatroom-item current" data-id="group">
      </div>
    </div>
    <div class="chatroom-pannel-ft"><textarea type="text" class="chatroom-input" placeholder="按 Ctrl+Enter 发送"></textarea></div>
  </div>
</div>
-->

<script>
var ChatRoomClient = function() {
  this.users = [];
  this.totalCount = 0;
  this.socket = io.connect('http://123.56.230.53:29231/');
  // this.socket = io.connect('http://127.0.0.1:29231');
  this.startup();
  this.init();
};

ChatRoomClient.prototype.init = function() {
  this.connection();
  this.socketEvent();
  this.bindEvent();
  this.addInfoLog({
    msg: '注意：聊天日志不会保存，请注意备份.'
  });
  this.addInfoLog({
    msg: '提示：点击头像可进入私聊'
  });
};

ChatRoomClient.prototype.startup = function() {
  var xtpl = [
    '<div class="chatroom">',
      '<div class="chatroom-feedback"><a href="https://github.com/barretlee/blogChat" target="_blank">源码</a> | <a href="https://github.com/barretlee/blogChat/issues/new" target="_blank">反馈</a></div>',
      '<div class="chatroom-info"></div>',
      '<ul class="chatroom-tribes">',
        '<li class="chatroom-tribe current" data-id="group">',
          '<span class="name">当前 <strong>1</strong> 人群聊</span>',
          '<span class="count">0</span>',
        '</li>',
      '</ul>',
      '<div class="chatroom-pannels">',
        '<div class="chatroom-pannel-bd">',
          '<div class="chatroom-item current" data-id="group">',
          '</div>',
        '</div>',
        '<div class="chatroom-pannel-ft"><textarea type="text" class="chatroom-input" placeholder="按 Ctrl+Enter 发送"></textarea></div>',
      '</div>',
    '</div>'
  ].join('\n');
  $('html').append(xtpl);
}

ChatRoomClient.prototype.connection = function(cb) {
  var self = this;
  self.socket.on('connected', function(data) {
    self.userId = data.id;
    self.userName = self.userId.slice(2);
    self.userAvatar = 'http://avatar.duoshuo.com/avatar-50/292/117200.jpg';
    if(window.DUOSHUO && window.DUOSHUO.visitor
       && window.DUOSHUO.visitor.data.user_id) {
      var userInfo = window.DUOSHUO.visitor.data;
      self.userId = userInfo.user_id;
      self.userName = userInfo.name;
      self.userAvatar = userInfo.avatar_url;
    } else {
      if(window.sessionStorage) {
        var userId = window.sessionStorage.getItem('userId');
        if(userId) {
          self.userId = userId;
          self.userName = userId.slice(2);
        } else {
          window.sessionStorage.setItem('userId', self.userId);
        }
      }
    }
    if(window.sessionStorage) {
      window.sessionStorage.setItem('userId', self.userId);
    }
    // console.info('ID: ' + self.userId);
    self.socket.emit('createUser', {
      userId: self.userId,
      userName: self.userName,
      userAvatar: self.userAvatar
    });
  });
};

ChatRoomClient.prototype.socketEvent = function() {
  var self = this;
  self.socket.on('broadcast', function(data) {
    if(data.id == self.userId) return;
    self.reciveMsg(data, 'BROADCAST');
    if(data.type == 'NEW') {
      self.users.push(data.id);
      if($.inArray(data.id, self.users) > -1) return false;
      return self.addInfoLog(data);
    }
    // if(data.type == 'LEAVE') {
    //   return self.addInfoLog(data);
    // }
    self.addChatLog(data);
    self.updateCount('group');
  });
  self.socket.on('pm', function(data) {
    if(data.type == 'OFFLINE') {
      return self.addInfoLog(data, data.id);
    }
    self.reciveMsg(data, 'PM');
    self.createPrivateChat(data);
    self.addChatLog(data);
    self.updateCount(data.id);
  });
  self.socket.on('pong', function(data) {
    self.reciveMsg(data, data.type);
  });
};

ChatRoomClient.prototype.bindEvent = function() {
  var self = this;
  $('.chatroom').on('keydown', function(evt) {
    if(evt.keyCode == 27) {
      $(this).addClass('chatroom-fold');
    }
  });
  $('.chatroom-input').on('keydown', function(evt) {
    var $this = $(this);
    if((evt.ctrlKey || evt.metaKey) && evt.keyCode == '13' && $.trim($this.val())) {
      var type = $('.chatroom-tribe.current').attr('data-id');
      var data = {
        id: self.userId,
        msg: $this.val(),
        name: self.userName,
        avatar: self.userAvatar,
        toId: type
      };
      self.socket.emit(type == 'group' ? 'gm' : 'pm', data);
      self.addChatLog(data, true);
      $this.val('');
      return false;
    }
  });
  $('.chatroom-tribes').on('click', 'li', function(evt) {
    evt.preventDefault();
    var id = $(this).attr('data-id');
    $('.chatroom-tribes').find('li').removeClass('current');
    $('.chatroom-item').removeClass('current');
    $(this).addClass('current');
    $('.chatroom-item[data-id="' + id + '"]').addClass('current');
    $(this).find('.count').text(0).css('visibility', 'hidden');
    this.totalCount -= parseInt($(this).find('.count').text());
    setTimeout(function() {
      $('.chatroom textarea').focus();
    }, 10);
  });
  $('.chatroom-tribes').on('click', 'i', function(evt) {
    evt.preventDefault();
    evt.stopImmediatePropagation();
    var $p = $(this).parent('li');
    var id = $p.attr('data-id');
    $p.remove();
    $(".chatroom-item[data-id='" + id + "']").remove();
    $('.chatroom-item').removeClass('current');
    $('.chatroom-item[data-id="group"]').addClass('current');
    $('.chatroom-tribe[data-id="group"]').addClass('current');
    this.totalCount -= parseInt($(this).find('.count').text());
  });
  $(".chatroom-item").on('click', '.avatar, .time', function(evt) {
    evt.preventDefault();
    evt.stopImmediatePropagation();
    var $this = $(this);
    var $p = $this.parent('.chatroom-log');
    var avatar = $p.find('.avatar img').attr('src');
    var name = $p.find('.time b').text();
    var id = $p.find('.time b').attr('data-id');
    if(id === self.userId) return;
    self.createPrivateChat({
      avatar: avatar,
      name: name,
      id: id
    }, true);
  });
  $(".chatroom-info").on('click', function(evt) {
    evt.preventDefault();
    // $('.chatroom').toggleClass('chatroom-fold');
    if(!$('.chatroom').hasClass('chatroom-fold')) {
      $('.chatroom').addClass('chatroom-fold');
      $('.chatroom textarea').focus();
      $('.chatroom-tribe').removeClass('current');
      $('.chatroom-item').removeClass('current');
      $('.chatroom-tribes>li').first().addClass('current');
      $('.chatroom-item').first().addClass('current');
      $('.chatroom .count').eq(0).text(0).css('visibility', 'hidden');
    } else {
      $('.chatroom').removeClass('chatroom-fold');
    }
  });
  if(/Mac OS/i.test(navigator.appVersion)) {
    $(".chatroom textarea").attr('placeholder', '按 Command+Enter 发送');
  }
  $(window).on('beforeunload close', function() {
    self.socket.emit('disconnet', {
      id: self.userId
    });
  });
};


ChatRoomClient.prototype.reciveMsg = function(data, type) {
  if(type === 'PONG') {
    $('.chatroom-tribe .name strong').text(data.count);
    if($('.chatroom').hasClass('chatroom-fold') && this.totalCount) {
      $('.chatroom .count').eq(0).text(this.totalCount).css('visibility', 'visible');
    }
    return;
  }
  if(type === 'PONG2') {
    console.warn(data);
  }
};

ChatRoomClient.prototype.ping = function() {
  this.socket.emit('ping', {
    id: this.userId
  });
};


ChatRoomClient.prototype.createPrivateChat = function(data, setCurrent) {
  if($('.chatroom-item[data-id="' + data.id + '"]').size()) return;
  var tabXtpl = [
    '<li class="chatroom-tribe" data-id="<% id %>">',
      '<img src="<% avatar %>" alt="<% name %>">',
      '<span class="name"><% name %></span>',
      '<span class="count">0</span>',
      '<i class="iconfont">╳</i>',
    '</li>'
  ];
  var $li = tabXtpl.join('').replace(/<%\s*?(\w+)\s*?%>/gm, function($0, $1) {
    return data && data[$1] || '';
  });
  $(".chatroom-tribes").append($li);
  var id = data && data.id;
  var $pannel = '<div class="chatroom-item" data-id="' + id + '"></div>';
  $(".chatroom-pannel-bd").append($pannel);
  if(setCurrent) {
    $('.chatroom-tribe').removeClass('current');
    $('.chatroom-item').removeClass('current');
    $('.chatroom-tribes>li').last().addClass('current');
    $('.chatroom-item').last().addClass('current');
  }
  if(data.toId) {
    this.addInfoLog({
      msg: '与 ' + data.name + ' 私聊'
    }, data.toId);
  }
};


ChatRoomClient.prototype.addChatLog = function(data, isSelf) {
  if(isSelf) {
    data.name = '我';
  }
  var logXtpl = [
    '<div class="chatroom-log' + (isSelf ? ' myself' : '') + '">',
      '<span class="avatar"><img src="<% avatar %>" alt="<% name %>"></span>',
      '<span class="time"><b data-id="<% id %>"><% name %></b> ' + new Date().toLocaleString() + '</span>',
      '<span class="detail"><% msg %></span>',
    '</div>'
  ];
  var $log = logXtpl.join('\n').replace(/<%\s*?(\w+)\s*?%>/gm, function($0, $1) {
    if($1 === 'avatar' && (!data || !data[$1])) {
      return 'http://avatar.duoshuo.com/avatar-50/292/117200.jpg';
    }
    return data && data[$1] || '';
  });
  var $target = $(".chatroom-item[data-id='group']");
  var $itemId = $(".chatroom-item[data-id='" + data.id + "']");
  var $itemToId = $(".chatroom-item[data-id='" + data.toId + "']");
  if($itemId.size()) {
    $target = $itemId;
  }
  if($itemToId.size()) {
    $target = $itemToId;
  }
  $target.append($log).scrollTop(1E5);
};

ChatRoomClient.prototype.addInfoLog = function(data, id) {
  var $info = '<div class="chatroom-log-info">' + data.msg + '</div>';
  var id = id || 'group';
  var $target = $(".chatroom-item[data-id='" + id + "']");
  $target.append($info).scrollTop(1E5);
};

ChatRoomClient.prototype.updateCount = function(id) {
  var $li = $('.chatroom-tribe[data-id="' + id + '"]');
  if(!$li.size() || $li.hasClass('current')) return;
  var $target = $li.find('.count');
  var count = parseInt($target.text());
  if(++count > 99) {
    count = 99;
  }
  $target.text(count).css('visibility', 'visible');
  this.totalCount++;
  if(this.totalCount > 99) {
    this.totalCount = 99;
  }
  if($('.chatroom').hasClass('chatroom-fold')) {
    $('.chatroom .count').eq(0).text(this.totalCount).css('visibility', 'visible');
  }
};

window.chatRoomClient = new ChatRoomClient();
</script>
